<h1>{{ product.name }}</h1>
<p class="text-muted lead">${{ product.price }}</p>
<p class="text-sm mb-4">
  {{ product.decription }}
</p>
<div class="row align-items-stretch mb-4">
  <div class="col-sm-5 pr-sm-0">
    <div class="border d-flex align-items-center justify-content-between py-1 px-3 bg-white border-white">
      <span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
      <div class="quantity">
        <a href="{{ product.get_absolute_url_for_remove_count_from_basket }}" class="reset-anchor dec-btn p-0"><i class="fa fa-minus" aria-hidden="true"></i></a>
        <span class="m-1">{{ quantity }}</span>
        <a href="{{ product.get_absolute_url_for_add_to_basket }}" class="reset-anchor inc-btn p-0"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 pl-sm-0">
    <a class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" href="{{ product.get_absolute_url_for_add_to_basket }}">Add to cart</a>
  </div>
</div>
<a class="text-dark p-0 mb-4 d-inline-block" href="#!"><i class="far fa-heart me-2"></i>Add to wish list</a><br />
<ul class="list-unstyled small d-inline-block">
  <li class="px-3 py-2 mb-1 bg-white">
    <strong class="text-uppercase">SKU:</strong><span class="ms-2 text-muted">039</span>
  </li>
  <li class="px-3 py-2 mb-1 bg-white text-muted">
    <strong class="text-uppercase text-dark">Category:</strong><a class="reset-anchor ms-2" href="#!">Demo Products</a>
  </li>
  <li class="px-3 py-2 mb-1 bg-white text-muted">
    <strong class="text-uppercase text-dark">Tags:</strong><a class="reset-anchor ms-2" href="#!">Innovation</a>
  </li>
</ul>
