{% extends 'base.html' %}
{% load static %}


{% block main %}
<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <!-- PRODUCT SLIDER-->
        {% include "store/layout/product_slider.html" %}
      </div>
      <!-- PRODUCT DETAILS-->
      <div class="col-lg-6">
            {% include "store/components/_product_detail.html" %}
      </div>
    </div>
  </div>
  <!-- RELATED PRODUCTS-->
  <h2 class="h5 text-uppercase mb-4">Related products</h2>
  <div class="row">
    <!-- PRODUCT-->
    {% include "store/components/_product_card.html" %}


  </div>
</section>
{% endblock main %}