{% load store_tags %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'cart' %}"> 
        <i class="fas fa-dolly-flatbed me-1 text-gray"></i>
        {% get_count_product_basket request as count_product_basket %}
        Cart<small class="text-gray fw-normal">({{ count_product_basket }})</small>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#!"> <i class="far fa-heart me-1"></i><small class="text-gray fw-normal">(0)</small></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'user_form' %}"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Login | Registration</a>
</li>