<div class="table-responsive mb-4">
    <table class="table text-nowrap">
      <thead class="bg-light">
        <tr>
          <th class="border-0 p-3" scope="col">
            <strong class="text-sm text-uppercase">Product</strong>
          </th>
          <th class="border-0 p-3" scope="col">
            <strong class="text-sm text-uppercase">Price</strong>
          </th>
          <th class="border-0 p-3" scope="col">
            <strong class="text-sm text-uppercase">Quantity</strong>
          </th>
          <th class="border-0 p-3" scope="col">
            <strong class="text-sm text-uppercase">Total</strong>
          </th>
          <th class="border-0 p-3" scope="col">
            <strong class="text-sm text-uppercase"></strong>
          </th>
        </tr>
      </thead>
      <tbody class="border-0">
          {% for item in basket %}
          {% with item.product as product %}
            {% include "store/components/_product_cart_table.html" %}   
          {% endwith %}  
          {% endfor %}  
      </tbody>
    </table>
  </div>